@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

/* Varaibles */
:root {
  /* Colors */
  /* Primary Colors */
  --navbar-bg: hsla(359, 100%, 18%, 1);

  /* Neutral Colors */
  --header-bg: linear-gradient(117.61deg, #000000 -14.09%, #000000 -4.26%, rgba(0, 0, 0, 0.772977) 49.35%, rgba(0, 0, 0, 0.537787) 62.43%, rgba(0, 0, 0, 0.352599) 72.89%, rgba(0, 0, 0, 0) 81.11%) ;
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --faq-bg: hsla(0, 0%, 95%, 0.3);

  /* Font Family */
  --rokkitt: "Rokkitt", serif;
  --opensans: "Open Sans", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.rule {
  width: 90%;
  margin-inline: auto;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--header-bg);
  opacity: .95;
  z-index: 1;
  border-radius: 15px;
}

.cta {
  position: relative;
  border-radius: 15px;
  background-position: 50% 50%;
  background-size: cover;
  height: 40vh;
  text-align: center;
  padding-inline: 2rem;
  height: 200px;
  margin-block: 1rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Mobile Styles */
/* Header Styles */
header.homeHeader {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  height: 40vh;
}

header.homeHeader.one {
  background-image: url(./assets/images/gown.jpeg);
}

header.homeHeader.two {
  background-image: url(./assets/images/award.jpeg);
}

header.homeHeader.three {
  background-image: url(./assets/images/event.jpeg);
}

header.homeHeader.shop {
  background-image: url(./assets/images/shop.jpeg);
}

header.homeHeader.shop .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader.blog {
  background-image: url(./assets/images/wedding.jpeg);
}

header.homeHeader.blog .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader.contact {
  background-image: url(./assets/images/contact-us.jpeg);
}

header.homeHeader.contact .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader.academy {
  background-image: url(./assets/images/academy.jpeg);
}

header.homeHeader.academy .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader.planning {
  background-image: url(./assets/images/planning.jpeg);
}

header.homeHeader.planning .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader.cart {
  background-image: url(./assets/images/cart-bag.jpeg);
}

header.homeHeader.cart .landContainer{
  display: flex;
  justify-content: center;
  padding-block-start: 3rem;
}

header.homeHeader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--header-bg);
  opacity: .95;
  z-index: 1;
}

header.homeHeader .landContainer {
  z-index: 3;
  position: relative;
  text-align: center;
  color: var(--white);
  margin-block-end: 1rem;
}

header.homeHeader .landContainer p {
  font-family: var(--rokkitt);
  font-weight: 500;
  font-size: 1.8rem;
  margin-block-end: 1rem;
}

header.homeHeader .landContainer button {
  border: none;
  color: inherit;
  padding: 0.5rem;
  font-family: var(--opensans);
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: var(--navbar-bg);
}

/* DropDown Navbar Styles */
nav.dropNav {
  background: var(--navbar-bg);
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 0px; 
  overflow: hidden; /* Hide overflow content */
  transition: all 0.3s ease-in-out;
  color: var(--white);
  font-weight: 600;
  font-family: var(--opensans);
  font-size: .9rem;
}

nav.dropNav.active {
  display: unset;
  height: 51vh;
  padding-block: 1.5rem;
}

nav.dropNav .rule {
  display: flex;
  flex-direction: column;
}

nav.dropNav .rule img.closIcon {
  align-self: flex-end;
  width: 9%;
}

nav.dropNav li {
  margin-block: 1rem;
}

nav.dropNav li img {
  width: 8%;
}

/* Navabr Styles */
nav.navbar {
  color: var(--white); 
  position: relative;
  z-index: 2; 
  padding-block: 1.5rem;
}

header nav ul li a {
  opacity: 0.5;
}

header nav ul li a.active {
  opacity: 1;
}

nav.navbar ul.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar ul.secondNav, nav.navbar ul.cartNav {
  display: none;
}

ul.topNav li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

ul.topNav li p {
  font-size: 1rem;
  font-family: var(--rokkitt);
  font-weight: 500;
}

/* Main Styles */
main {
  padding-block: 2rem;
}

main section {
  padding-block: 1rem;
}

main section h2 {
  text-align: center;
  margin-block-end: 1.5rem;
  font-family: var(--rokkitt);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--black);
}

main section p {
  line-height: 2;
  font-family: var(--opensans);
  font-weight: 400;
  font-size: .8rem;
}

main section ul {
  list-style: unset;
  margin-inline: 1rem;
  font-size: .8rem;
  font-family: var(--opensans);
  font-weight: 500;
}

main section .collectionSwiper {
  position: relative;
  text-align: center;
  margin-block-end: 1rem;
}

main section .collectionSwiper img {
  height: 250px;
  width: 180px;
  border-radius: 10px;
}

main section .collectionSwiper p {
  font-family: var(--rokkitt);
  font-weight: 600;
  margin-block-start: 1rem;
  font-size: 1rem;
}

main section .collectionSwiper button {
  border: none;
  background: transparent;
  color: var(--navbar-bg);
  width: unset;
  top: 43%;
}

main section ul li {
  margin-block: .5rem 1rem;
}

main section.academySection {
  text-align: center;
}

main section.academySection img.epectPic{
  text-align: center;
  width: 40%;
}

main section.academySection ol {
  font-size: .8rem;
  font-family: var(--opensans);
  font-weight: 500;
  text-align: left;
}

main section.academySection ul {
  list-style: disc;
}

/* FAQ */
main section.faq article {
  width: 90%;
  margin-inline: auto;
  margin-block-end: 2rem;
  padding: 1rem;
  background-color: var(--faq-bg);
  border-radius: 10px;
}

section.faq article h3 {
  font-family: var(--rokkitt);
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--black);
}

section.faq article ul{
  font-weight: 400;
  font-size: 0.8rem;
  font-family: var(--rokkitt);
  color: var(--black);
}

/* Blog Grid */
main section.blogSection .blogContainer {
  text-align: center;
}

main section.blogSection .blogContainer article {
  width: 80%;
  margin-inline: auto;
  border-radius: 16px 0px 16px 0px;
  height: 250px;
  box-shadow: 4px 4px 7px grey;
  margin-block-end: 2rem;
  cursor: pointer;
}

section.blogSection .blogContainer article img {
  border-radius: 16px 0px 0px;
  width: 100%;
  height: 65%;
}

section.blogSection .blogContainer article p {
  width: 85%;
  margin-inline: auto;
  text-align: left;
  font-weight: 600;
  text-decoration: underline;
  font-family: var(--rokkitt);
  font-size: .85rem;
  padding-block: 1rem ;
  height: 35%;
}

/* Contact Line Section */
main section.contactLine aside.socialIne {
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.contactLine aside.socialIne .socialAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.contactLine aside.socialIne .socialAdd img {
  width: 50%;
  height: 40px;
}

section.contactLine aside.socialIne .socialAdd p {
  font-size: 0.6rem;
  font-family: var(--rokkitt);
  font-weight: 500;
  color: var(--navbar-bg);
}

section.contactLine form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 2rem;
}

section.contactLine form label {
  font-family: var(--rokkitt);
  font-weight: 500;
  color: var(--navbar-bg);
  font-size: 0.9rem;
}

section.contactLine form input {
  border-radius: 5px;
  border: 1px solid var(--navbar-bg);
  margin-block: .3rem 1rem;
  height: 30px;
  padding-inline: 1rem;
  font-size: 0.9rem;
  font-family: var(--rokkitt);
}

section.contactLine form textarea {
  border-radius: 5px;
  border: 1px solid var(--navbar-bg);
  margin-block: .3rem 1rem;
  padding-inline: .6rem;
  font-size: 0.8rem;
  font-family: var(--rokkitt);
}

section.contactLine form button {
  align-self: flex-end;
  font-weight: 600;
  font-family: var(--opensans);
  padding: .4rem 1rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 0.8rem;
  border: none;
  background: var(--navbar-bg);
}

/* CTA Section */
main section.homeCta {
  background-image: url(./assets/images/gown.jpeg);
}

main section.homeCta p {
  z-index: 2;
  position: relative;
  font-weight: 600;
  font-family: var(--rokkitt);
  font-size: 1.5rem;
  line-height: 30px;
  margin-block-end: 1rem;
}

main section.homeCta button {
  font-weight: 600;
  z-index: 5;
  position: relative;
  font-family: var(--opensans);
  padding: .5rem;
  border-radius: 5px;
  color: inherit;
  font-size: 0.8rem;
  border: none;
  background: var(--navbar-bg);
}

/* Footer Styles */
footer {
  background-color: var(--black);
}

footer.footer .footerWrap {
  padding-block: 3rem;
  color: var(--white);
  font-family: var(--rokkitt);
  line-height: 22px;
}

.footerWrap .footerLogo img {
  width: 35%;
}

.footerWrap .footerLogo h2 {
  font-weight: 600;
  margin-block-end: 1.5rem;
  font-size: 1.5rem;
}

.footerWrap .footerLogo p {
  font-size: .9rem;
  margin-block-end: 1rem;
}

.footerWrap .footerLogo .footAdmin {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}

.footerWrap .footerLogo .footAdmin img {
  width: 10%;
}

.footerWrap .footerLogo .footAdmin p {
  margin: unset;
  font-size: 1.1rem;
}

.footerWrap .quickSocial {
  display: flex;
  margin-block: 2rem;
}

.footerWrap .quickSocial li {
  margin-block: 1rem;
  font-weight: 200;
  font-size: 1rem;
}

.footerWrap .quickSocial li:first-child {
  font-weight: 500;
}

.footerWrap .quickSocial .quickLinks {
  flex: 1;
}

.footerWrap .quickSocial .socialLiks {
  flex: 1;
}

.footerWrap .quickSocial .socialLiks li.socialIcons, a.socialLinkLink {
  display: flex;
  gap: 1rem;
}

.footerWrap .quickSocial .socialLiks li.socialIcons img {
  width: 13%;
}

.socialLiks li.socialIcons a.socialLinkLink img {
  width: 96% !important;
  height: 100%;
}

.footerWrap p.copyRight {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

/* SHOP Styles */
main section.shopCta {
  background-image: url(./assets/images/bride1.jpeg);
}

main section.shopCta p {
  z-index: 2;
  position: relative;
  font-weight: 600;
  font-family: var(--rokkitt);
  font-size: 1.5rem;
  line-height: 30px;
  margin-block-end: 1rem;
}

main section.shopCta button {
  font-weight: 600;
  z-index: 5;
  position: relative;
  font-family: var(--opensans);
  padding: .5rem;
  border-radius: 5px;
  color: inherit;
  font-size: 0.8rem;
  border: none;
  background: var(--navbar-bg);
}

/* Blog Styles */
section.blogSectionOne h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.3rem;
  margin-block-end: .5rem;
}

section.blogSectionOne p#date {
  opacity: 0.8;
  font-weight: 400;
  margin-block: .3rem;
}

section.blogSectionOne span {
  font-weight: 600;
}

section.blogSectionOne .author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: italic;
}

section.blogSectionOne .author .authorPic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./assets/images/person1.jpeg);
}

section.blogSectionOne .author p {
  opacity: 0.8;
  font-size: 0.9rem;
}

section.blogSectionOne article .blogPic {
  margin-block: 1.5rem;
  width: 100%;
  height: 45vh;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./assets/images/whitCouple.jpeg);
}

section.blogSectionOne article .likDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block: 1.5rem;
  gap: .5rem;
}

section.blogSectionOne article .likDiv span {
  opacity: 0.8;
  font-weight: 400;
  font-family: var(--opensans);
  font-size: 0.8rem;
}

article.relateBlog {
  width: 80%;
  margin-inline: auto;
  border-radius: 15px 0px 15px 0px;
  margin-block: 4rem 2rem;
  /* height: 300px; */
  box-shadow: 1px 1px 10px grey;
}

article.relateBlog .relatedPics {
  width: 100%;
  height: 30vh;
  border-radius: 15px 0px 0px 0px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./assets/images/makeupBreast.jpeg);
}

article.relateBlog .relateAbout {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-inline: auto;
  text-align: left;
  font-weight: 600;
  font-family: var(--rokkitt);
  padding-block: 1rem;
  /* height: 30%; */
}

article.relateBlog .relateAbout p {
  line-height: 20px;
  font-weight: 600;
}

article.relateBlog .relateAbout span {
  padding-block: .7rem;
  opacity: 0.8;
}

/* ComSection Styles */
section.CommSect article h3 {
  font-weight: 400;
  font-family: var(--opensans);
}

section.CommSect article p {
  font-weight: 400;
  font-family: var(--opensans);
  margin-block: 1rem .5rem;
  font-size: 0.9rem;
}

section.CommSect article p.p2 {
  margin-block: 1rem;
  opacity: 0.8;
}

section.CommSect article p.p3 {
  opacity: 0.5;
  font-size: 1rem;
}

/* Academy Styles */
section.academySec article h3 {
  font-weight: 600;
  font-family: var(--opensans);
  font-size: 1rem;
}

section .oneOfUs {
  width: 100%;
  height: 35vh;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./assets/images/award.jpeg);
  border-radius: 0px 10px 10px 0px;
  margin-block: 1rem;
}

.acadFormSwiPer .swiper-button-prev::after, .acadFormSwiPer .swiper-button-next::after {
  display: none;
}

.swiper-pagination {
  position: unset;
  margin-block-start: 1.5rem;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
}

.swiper-pagination-bullet-active {
  background: var(--navbar-bg);
}

.acadFormSwiPer .swiper-button-prev, .acadFormSwiPer .swiper-button-next {
  position: unset;
  top: unset;
  width: unset;
  height: unset;
  margin: unset;
}

/* Academy Form */
.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: .5rem;
  position: relative;
}

.form-fields label {
  font-family: var(--rokkitt);
  font-weight: 500;
  color: var(--navbar-bg);
  font-size: 1rem;
}

.form-fields input {
  border-radius: 5px;
  border: 1px solid var(--navbar-bg);
  margin-block: .3rem 1rem;
  height: 30px;
  padding-inline: 1rem;
  font-size: 0.9rem;
  font-family: var(--rokkitt);
}

.form-fields button {
  align-self: flex-end;
  font-weight: 600;
  font-family: var(--opensans);
  padding: .4rem 1rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 0.8rem;
  border: none;
  background: var(--navbar-bg);
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-block: .5rem 1.5rem;
}

.radioGroup label {
  margin-inline: .5rem 5rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

input[type="radio"] {
  margin: unset;
}

.butSwipNAv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cart Styles */
/* Empty Section */
section.emptyCartSect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.emptyCartSect .cartImgDiv {
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.07);
  margin-block-end: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section.emptyCartSect .cartImgDiv img {
  width: 100%;
}

section.emptyCartSect button{
  font-weight: 600;
  font-family: var(--opensans);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 0.8rem;
  border: none;
  background: var(--navbar-bg);
  margin-block-start: 2rem;
}

/* Full Cart Section */
section.fullCart {
  border-radius: 20px;
  margin-block: 2rem;
  box-shadow: -1px 0px 4px grey;
  padding: unset;
}

section.fullCart .itemPic {
  background-image: url(./assets/images/gown1.jpeg);
  height: 35vh;
  border-radius: 20px 20px 20px 0px;
  background-position: 50% 50%;
  background-size: cover;
}

section.fullCart .itemDecrip {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
  font-family: var(--rokkitt);
  padding-block: 2rem;
}

section.fullCart .itemDecrip h2 {
  text-align: inherit;
  margin-block-end: .5rem;
  font-size: 1.2rem;
}

section.fullCart .itemDecrip p {
  line-height: unset;
  margin-block-end: .5rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
}

section.fullCart .itemDecrip .itemPrice {
  margin-block: .5rem;
}

section.fullCart .itemDecrip .itemQuant .itemAddSub {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section.fullCart .itemDecrip button {
  width: 100%;
  font-weight: 600;
  font-family: var(--opensans);
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--white);
  font-size: 1rem;
  border: none;
  background: var(--navbar-bg);
  margin-block-start: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

section.fullCart .itemDecrip button img {
  width: 10%;
}

/* DEsktop Styles */
@media(min-width: 768px) {
  header.homeHeader {
    height: 93vh;
  }

  header.homeHeader .headerContainer {
    display: flex;
    flex-direction: column;
  }

  /* Navbar Styles */
  nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.topNav li p {
    font-size: 1.1rem;
  }

  nav.navbar ul.secondNav {
    display: flex;
    gap: 1.2rem;
    font-family: var(--opensans);
  }

  nav.navbar ul.secondNav li a {
    border-bottom: 2px solid transparent;
    padding: .3rem;
  }

  nav.navbar ul.secondNav li a.active, nav.navbar ul.secondNav li a:hover {
    border-bottom: 2px solid white;
  }

  nav.navbar ul.cartNav {
    display: flex;
  }

  nav.navbar ul.cartNav img {
    width: 25px;
  }
}